@media (min-width: 768px) {
  .card {
    width: 25% !important;
  }
}
@media (max-width: 768px) {
  .card {
    width: 60% !important;
  }
}
.card-text {
  height: 100px;
  margin-bottom: 10px 0;
}
.card-lg {
  height: auto !important;
  margin-bottom: 10px 0;
}
